{% extends "base.html.twig" %}

{% block title %} Index {% endblock %}

{% block content %}
{% for product in products %}
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2> class="card-title">{{ product }}</h2>
      </div>
    </div>
  </div>
{%  endfor %}
{% end block %}